@import './restaurnat_card.scss';
@import './restaurant_inner.scss';
@import './filters.scss';
@import './footer.scss';

.chakra-container {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}
.home-content {
  display: grid;
  grid-template-columns: 46rem 1fr;
  gap: 30px;
}
.type-slider {
  position: relative;
  margin-bottom: 48px;
  header {
    border-bottom: 0.0625rem solid #d8d9db;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    padding-bottom: 16px;
    min-height: 2.25rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.75rem;
      color: #2d333f;
      margin: 0;
    }
    .view-all {
      align-self: center;
      cursor: pointer;
      display: flex;
      flex-direction: row-reverse;
      margin-left: 1rem;
      text-decoration: none;
      white-space: nowrap;
      color: #da3743;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
    }
  }
  .swiper-nav-item {
    align-items: center;
    background-color: #fff;
    border: 0.0625rem solid #d8d9db;
    border-radius: 50%;
    box-shadow: 0 0.125rem 0.5rem #9996;
    display: inline-flex;
    height: 42px;
    justify-content: center;
    width: 42px;
    position: absolute;
    top: calc(50% - 21px);
    transform: translate(-50%, 0);
    z-index: 90;
    &.swiper-nav-right {
      right: -40px;
    }
    &.swiper-nav-left {
      left: 0;
    }
    span {
      display: inline-block;
      font-size: 0;
      height: 1.5rem;
      line-height: 1;
      min-width: 1.5rem;
      width: 1.5rem;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

// category restaurants
.category-restaurants {
  box-shadow: 0 2px 4px #2d333f33;
  margin: 10px;
  margin-bottom: 40px;
  padding: 10px;
  h3 {
    color: #2d333f;
    font-size: 24px;
    padding-bottom: 16px;
    font-weight: 700;
  }
  &__list {
    border-top: 0.0625rem solid #d8d9db;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 16px;
  }
}
