.questionnaire {
  padding-bottom: 70px;
  min-width: 30vw;
  &__item {
    &-title {
      font-size: 20px;
      padding-bottom: 20px;
    }
    &-answers {
      &-input {
        .form-control {
          display: flex;
          align-items: center;
        }
        p {
          margin-left: 8px;
        }
      }
    }
  }
  &__buttons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    button {
      padding: 10px 30px;
      background: rgb(62, 62, 212);
      color: #ffffff;
      font-size: 16px;
      border-radius: 4px;
    }
  }
}
